  body {    
   display: flex;
   flex-direction: column;
   align-items: center;    
  }
  button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: black;
  }
  li {
   color: black;
  }
  a {
    color: white;
  }
  strong {
    color: blue;
  }
  h2 {
    color: black;
  }
